!!!
%html
  %head
    %title Happy birthday!
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "css/style.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  %body
    #container
      #base
        %img.rolling{ src: 'images/rolling.jpg' }
        %img.tim_san{ src: 'images/tim.png' }
        %img.happy{ src: 'images/happy_birthday.png' }
      #top
        %img.scroll_down{ src: 'images/scroll_down.png' }
      #middle
      #message
        %p Tim-san
        %p.vspace
        %p Happy Birthday!
        %p Thank you for working with me.
        %p It was great days for me to create GLICODE with you.
        %p Wish you have a happy day and a nice year.
        %p.vspace
        %p Shintaro Murakami

  %script{ src: 'js/jquery.min.js' }
  %script{ src: 'js/main.js' }
